<div class="container">
<div class="row mt-3">
  <div class="col-md-12">
      <p class="alert alert-info" >{{title}}</p>
      <p class="alert alert-info">{{title.toUpperCase()}}</p>
      <p class="alert alert-info">Evaluation {{5+3}}</p>
      <p class="alert alert-info">{{title}}</p>

      <input type={{typ}} placeholder= {{placehold}}>

  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <input type=text [style.border]="'1px solid red'">
    <input type=text [class.text-muted]="true">

  </div>
  <div class="row ">
    <div class="col-md-12">
      <input type=button value="okay" (click)="myfunction($event)">
      <input type=text (keypress)="keyIsUp($event)">
    </div>
  </div>

</div>
<div class="row">
      <div class="col-md-12">
      <input type=text value={{val}}>
      <input type=button value ="1" (click)= setVal(1); >
      <input type=button value ="2" (click)= setVal(2); >
      <input type=button value ="3" (click)= setVal(3); >
      <input type=button value ="4" (click)= setVal(4); >

        </div>
        </div>
  </div>
